* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #f5f7ff;
    color: #222;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.header {
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    color: #2563eb;
    font-size: 35px;
}

nav a {
    text-decoration: none;
    margin-left: 25px;
    color: #333;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #2563eb;
}